@model UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit user</h1>

<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <partial name="PartialViews/CreateEditUserPartialView" />

    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-secondary">Back To List </a>

</form>

@section validationScriptSection{
        <partial name="_ValidationScriptsPartial" />
}

